<div class="login-container">
  <div class="container">
    <div class="login-form">
      <div class="login-header">
        <i class="fas fa-user"></i>
      </div>
      <h2>שלום, מי אתה?</h2>
      <form [formGroup]="loginForm">
        <div [hidden]="!isLoginFaild" class="alert alert-danger">מצטערים, לא הצלחנו לזהות אותך</div>
        <mat-form-field>
          <mat-label>יש להזין כאן את כתובת האימייל שלך</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>יש להזין כאן את הסיסמה שבחרת</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="signIn()">היכנס</button>
        </div>

      </form>
    </div>
  </div>
</div>