@font-face {
    font-family: 'opensanshebrew-bold';
    src: url('~/assets/fonts/opensanshebrew-bold-webfont.eot');
    src: url('~/assets/fonts/opensanshebrew-bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('~/assets/fonts/opensanshebrew-bold-webfont.woff') format('woff'), 
    url('~/assets/fonts/opensanshebrew-bold-webfont.ttf') format('truetype'), 
    url('~/assets/fonts/opensanshebrew-bold-webfont.svg#alefregular') format('svg');
}

@font-face {
    font-family: "opensanshebrew-light";
    src: url('~/assets/fonts/OpenSansHebrew-Light.woff');
}

@font-face {
    font-family: "opensanshebrew";
    src: url('~/assets/fonts/OpenSansHebrew-Regular.woff');
}

* {
    font-family: $bld-font-family;
    &:focus {
        outline: none;
    }
}

body {
    direction: $bld-direction;
    text-align: $bld-align;
}

h1, h2, h3 {
    font-family: $bld-font-family-bold;
}

ul {
    list-style-type: none;
    padding: 0; margin: 0;
}
// ==================================================================

.bld-body-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";

    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
}

// ==================================================================

.bold {
    font-weight: bold !important;
    font-family: $bld-font-family-bold !important;
}

.input-title {
    font-size: 2em !important;
}

.form-row {
    margin-bottom: 1em;
    input {
        width: 100%;
    }
}

.display-edit-form {
    // input {
    //     border: none;
    //     &:focus {
    //         border-bottom: 1px solid #ccc;
    //     }
    // }
    .mat-form-field {
        margin-left: 1em;
    }
}

.buttons-container {
    margin: 1em 0 0.5em;
    display: flex;
    justify-content: flex-end;

    button {
        margin-right: 1em;
    }
}

.bld-btn-primary {
    color: #fff;
    background-color: $bld-primary-color;
    border-color: #007bff;
    &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
}

.bld-btn-success {
    color: #fff;
    background-color: var(--accent2Shade4);
    border-color: var(--accent2Shade5);
    &:hover {
        color: #fff;
        // background-color: #0069d9;
        // border-color: #0062cc;
    }
}

