$bld-font-family: "opensanshebrew";
$bld-font-family-bold: "opensanshebrew-bold";
$bld-direction: rtl;
$bld-direction-opposite: ltr;
$bld-align: right;
$bld-align-opposite: left;

$bld-primary-color: #4285f4;